<a href="https://colab.research.google.com/github/rushithakondreddy/haihua_INFO5731_Spring2020/blob/main/In_class_exercise_01_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [2]:

#  input the string and store it in a variable x
x = input("Enter a string: ")
# counter variable to count the character in a string
counter = 0
for y in x:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: rushitha
Length of the input string is: 9

## **(2) Write a Python program to count the number of characters in a string. (2 points)**

Sample String : 'google.com‚Äò, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
from collections import Counter 
test_str = "google.com"

res = Counter(test_str) 

# printing result  
print ("Count of all characters  :\n " + str (res))

Count of all characters  :
 Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (2 points)

In [5]:
#
# creating a list
list_given = [10, 20, 30, 40, 50]
# using sum() function
total = sum(list_given)
# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  150

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‚Äò, 

Expected Result : 'resta\$t'

In [6]:

def change_char(str1):  
  char = str1[0]  
  length = len(str1)  
  str1 = str1.replace(char, '$')  
  str1 = char + str1[1:]  
  
  return str1  
  
print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [7]:
## write your answer here
a = float(input('Enter the value of a :'))
b = float(input('Enter the value of b :'))

ùëÜ = 3.14 * (1+ (ùëé/ùëè))**3
print('The output:',S)

Enter the value of a :3
Enter the value of b :5
The output: 12.861440000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
## write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
expected_result = {}
for d in (dic1, dic2, dic3): 
  expected_result.update(d)
print(expected_result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [22]:


  
# initialize tuple 
test1 = (13, 40, 5, 43, 90) 
print("The original tuple is : " + str(test1)) 
  
# initialize N  
N = float(input('Enter the value  :'))
  
# Using in operator to check whether element is present in tuple
res = N in test1
#  result 
print("IS the element present in tuple: " + str (res))

The original tuple is : (13, 40, 5, 43, 90)
Enter the value  :40
IS the element present in tuple: True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [10]:
## write your answer here
def MAX(sets): 
    return (max(sets)) 
def MIN(sets):
    return (min(sets))
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55]) 
print(MAX(sets)) 
print(MIN(sets))

65
1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [12]:
# write your answer here

from itertools import islice
from random import randint
li=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def random_chunk(li, min_chunk=3, max_chunk=5):
    it = iter(li)
    while True:
        nxt = list(islice(it,randint(min_chunk,max_chunk)))
        if nxt:
            yield nxt
        else:
            break
list(random_chunk(li))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'],
 ['sg0940', 'bk0301', 'rak0120', 'rrk0058'],
 ['spk0057', 'vl0135', 'nm0547', 'pn0159'],
 ['msp0174', 'dd0420', 'ds0761'],
 ['rs0850', 'ss1995', 'at0739', 'at0768'],
 ['mv0299', 'tv0119', 'dy0091']]