<a href="https://colab.research.google.com/github/rushithakondreddy/haihua_INFO5731_Spring2020/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
from random import *
result = []
for num in range(12):
  result.append(randint(1,100))
result

[58, 26, 57, 90, 21, 57, 64, 50, 9, 47, 68, 93]

In [ ]:
asc = result.copy()
asc.sort()
print(asc)

desc = result.copy()
desc.sort(reverse = True)
desc

[9, 21, 26, 47, 50, 57, 57, 58, 64, 68, 90, 93]

[93, 90, 68, 64, 58, 57, 57, 50, 47, 26, 21, 9]

In [ ]:
import numpy as np
print(np.mean(result))

47.416666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
a = input("Enter sentence1")
b = input("Enter sentence2")

Enter sentence1Alas! Python is a good, programming language
Enter sentence2Unt; has good resources. to study

In [ ]:
import re
c = re.split(r'([ .,!?;])', a)
d = re.split(r'([ .,!?])', b)
print(c)
print(d)

['Alas', '!', '', ' ', 'Python', ' ', 'is', ' ', 'a', ' ', 'good', ',', '', ' ', 'programming', ' ', 'language']
['Unt;', ' ', 'has', ' ', 'good', ' ', 'resources', '.', '', ' ', 'to', ' ', 'study']

In [ ]:
c_new = []
for var in c:
  if((var !='') and (var!= ' ')):
    c_new.append(var)
print(c_new)

d_new = []
for var2 in d:
  if((var2 !='') and (var2 != ' ')):
    d_new.append(var2)
print(d_new)

['Alas', '!', 'Python', 'is', 'a', 'good', ',', 'programming', 'language']
['Unt;', 'has', 'good', 'resources', '.', 'to', 'study']

In [ ]:
#Printing common words in both sentenes

common = []
for x in c_new:
  for y in d_new:
    if y == x:
      common.append(y)
print(common)

['good']

In [ ]:
#Removing punctuations from string

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
a_new = ""
b_new = ""
for char in a:
  if char not in punctuations:
    a_new = a_new + char
print(a_new)

for char1 in b:
  if char1 not in punctuations:
    b_new = b_new + char1
print(b_new)

Alas Python is a good programming language
Unt has good resources to study

In [ ]:
#no.of vowels

vowels = "aeiou"
result = {}.fromkeys(vowels,0)
result1 = {}.fromkeys(vowels,0)
a_new =a_new.casefold()
b_new = b_new.casefold()
for char in a_new:
  if char in vowels:
    result[char] += 1
print(result)
for char1 in b_new:
  if char1 in vowels:
    result1[char1] += 1
print(result1)

{'a': 6, 'e': 1, 'i': 2, 'o': 4, 'u': 1}
{'a': 1, 'e': 2, 'i': 0, 'o': 4, 'u': 3}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
print('r',  'V')
pi = 3.14
def volume(r):
  vol = (4/3)*pi*r*r*r 
  print(r,  vol)

for var in range(1,10):
  volume(var)

r V
1 4.1866666666666665
2 33.49333333333333
3 113.03999999999998
4 267.94666666666666
5 523.3333333333334
6 904.3199999999998
7 1436.0266666666666
8 2143.5733333333333
9 3052.08

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/Assignments/Assignment1_denton_housing.csv'
df = pd.read_csv(url, error_bad_lines=False)

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [ ]:

f1 = df.loc[df['title_field']=='Occupied Housing Units']
f1

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711

In [ ]:

df_filter1 = f1.sort_values(by = ['year'],ascending =True)

In [ ]:
df_filter1

    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

In [ ]:
df_result = df_filter1['value'].diff()
df_result

20       NaN
17    -795.0
14    5091.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
Name: value, dtype: float64

In [ ]:
df_result.sort_values(ascending= True)

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [ ]:
#(2) For all the years, calculate the percentage of housing units which are vacant an occupied. 

import numpy as np
year = f1.year
year_array = np.array(year)
f1_value = f1.value
Occupied = np.array(f1_value)
f2 = df.loc[df['title_field']=='Vacant Housing Units']
Vacant = f2.value
f3 = df.loc[df['title_field']=='Total Housing Units']
f3_value = f3.value
Total = np.array(f3_value)
Occupied_percentage = Occupied/Total * 100
Vacant_percentage = Vacant/Total * 100
dataset = pd.DataFrame({'Year': year_array , 'Vacant Housing Units':Vacant_percentage,'Occupied Housing Units':Occupied_percentage })
print(dataset)

    Year  Vacant Housing Units  Occupied Housing Units
1   2014              5.730111               94.269889
4   2013              8.801788               91.198212
7   2012              6.677600               93.322400
10  2011              9.379522               90.620478
13  2010              8.142556               91.857444
16  2009              9.071116               90.928884
19  2008             10.882653               89.117347

In [ ]:
#(3)Calculate and print the values and years in which the highest number of housing units were vacant and occupied. 

a = df.groupby(['title_field'])['value'].transform(max) == df['value']
df5 = df[a]
df5

    year             title_field  value
0   2014     Total Housing Units  49109
2   2014  Occupied Housing Units  46295
19  2008    Vacant Housing Units   4483
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
35  2014       Median Gross Rent    905

In [ ]:
df5.loc[(df5['title_field'] == 'Occupied Housing Units') | (df5['title_field'] == 'Vacant Housing Units')]

    year             title_field  value
2   2014  Occupied Housing Units  46295
19  2008    Vacant Housing Units   4483

In [ ]:
#(4) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here:

f2 = df.loc[df['title_field']=='Total Housing Units']
f2

    year          title_field  value
0   2014  Total Housing Units  49109
3   2013  Total Housing Units  47888
6   2012  Total Housing Units  45121
9   2011  Total Housing Units  44917
12  2010  Total Housing Units  44642
15  2009  Total Housing Units  39499
18  2008  Total Housing Units  41194

In [ ]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.17.5)

In [ ]:
from scipy import stats
scipy.stats.hmean(f2.iloc[:,2],axis = 0)

44398.28543969185